h1 {
    color: orange;
    font-family: Times, serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

p {
    font-size: 15px;
}

a {
    color: #A4A4A4;
    font-size: 200%;
}

ul {
    background-color: #F2F2F2;
}

img {
    height: 40px;
    /*width: 100px*/
}
